<!-- learning_content/templates/learning_content/material_detail.html -->

{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title">{{ material.title }}{% if material.is_template %} (テンプレート){% endif %}</h2>
    <p class="card-text">{{ material.description }}</p>
    
    {% if material.is_template %}
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'learning_content:material_duplicate' material.pk %}">
        このテンプレートを複製
      </a>
    {% endif %}

    {% if user.is_authenticated %}
      <a class="btn btn-sm btn-outline-primary" href="{% url 'learning_content:material_update' material.id %}">
        教材を編集
      </a>
    {% endif %}
  </div>
</div>

<h3 class="mt-4">学習項目</h3>
<a class="btn btn-sm btn-primary mb-3" href="{% url 'learning_content:material_node_create' material.pk %}">
  学習項目を追加
</a>

<div class="accordion" id="nodeAccordion">
    {% include "learning_content/_node_list.html" with nodes=top_nodes user=user %}
</div>

<a class="btn btn-secondary mt-3" href="{% url 'learning_content:material_list' %}">教材一覧へ戻る</a>
{% endblock %}
