<!-- lessons/templates/material_list.html -->

{% extends 'base.html' %}

{% block title %}教材一覧{% endblock %}

{% block content %}
  <h1 class="mb-4">教材一覧</h1>
  <ul class="list-group">
    {% for material in materials %}
      <li class="list-group-item">
      {% if material and material.pk %}
        <a href="{% url 'lessons:lesson_create_with_material' material.pk %}">{{ material }}</a>
      {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item">教材が登録されていません。</li>
    {% endfor %}
  </ul>
{% endblock %}
