<!-- lessons/templates/material_detail.html -->

{% extends 'base.html' %}

{% block title %}{{ material.title }}{% endblock %}

{% block content %}
  <h1 class="mb-3">{{ material.title }}</h1>
  <p class="mb-4">{{ material.description }}</p>

  <h2 class="mb-3">構成</h2>
  <ul class="list-group">
    {% for node in material.nodes.all %}
      <li class="list-group-item">
        {{ node.title }}
      </li>
    {% empty %}
      <li class="list-group-item">構成が登録されていません。</li>
    {% endfor %}
  </ul>
{% endblock %}
